<!-- components/footer.html -->
<footer class="footer">
    <div class="social-links">
        <a href="https://t.me/Mitalica69" target="_blank" class="telegram" title="Telegram">
            <i class="fab fa-telegram-plane"></i>
        </a>
        <a href="#" target="_blank" class="youtube" title="YouTube">
            <i class="fab fa-youtube"></i>
        </a>
        <a href="#" target="_blank" class="twitter" title="Twitter">
            <i class="fab fa-twitter"></i>
        </a>
    </div>
    <div class="copyright">© 2026 <span>ZI Store</span>. All rights reserved.</div>
</footer>
